
#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;

    gap: 10px;
    margin: 10px 10px 10px 10px;
    align-items: center;
}
#username {
    margin-top: 5px;
    margin-bottom: 5px;
}
#logout {
    margin-top: 5px;
    margin-bottom: 5px;
    /* margin: 10px 10px 10px 10px; */
}

.container {
    margin: 15px;
    padding: 20px;
    border-color: #ECECEC;
    border-width: thin;
    border-style: solid;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

.sub-container {
    padding: 10px;
    margin: 0px;

    background-color: #EEEEEE;
    border-width: thin;
    border-style: solid;
    border-color: #d8d8d8;
}

/* .search-container {
    display: flex;
    justify-content: start;
    gap: 10px;
    padding: 10px 0;
} */

.panel-select {
    margin-top: 5px;
    margin-bottom: 5px;
}
.panel-button {
    margin-top: 5px;
    margin-bottom: 5px;
}

#quicklinks {
    display: flex;
    flex-wrap: wrap;
}
.quicklink {
    display: block;
    background-color: rgb(250, 250, 250);
    color: #484C4F;
    text-decoration: none;
    margin: 10px;
    padding: 30px;
    transition: color 0.3s ease;
}
.quicklink:hover {
    background-color: white;
    color: #484C4F;
    transform: scale(1.1);
}